app/src/main/res/xml/questions.xsd

<?xml version="1.0"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://www.noprestige.com"
    xmlns="https://www.noprestige.com"
    elementFormDefault="qualified">

    <xs:element name="Questions">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="KanaSet" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="KanaSet">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="KanaQuestion" maxOccurs="unbounded"/>
                <xs:element ref="Section" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="prefId" type="text" use="required"/>
            <xs:attribute name="setTitle" type="text" use="required"/>
            <xs:attribute name="setNoDiacriticsTitle" type="text"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="Section">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="KanaQuestion" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="diacritics" type="diacritic" use="required"/>
            <xs:attribute name="digraphs" type="xs:boolean" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="KanaQuestion">
        <xs:complexType>
            <xs:attribute name="question" type="kana" use="required"/>
            <xs:attribute name="answer" type="romanji" use="required"/>
            <xs:attribute name="altAnswer" type="romanji"/>
        </xs:complexType>
    </xs:element>

    <!-- ref: https://stackoverflow.com/questions/1168532/xsd-definition-for-enumerated-value -->
    <xs:simpleType name="diacritic" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NO_DIACRITIC"/>
            <xs:enumeration value="DAKUTEN"/>
            <xs:enumeration value="HANDAKUTEN"/>
            <xs:enumeration value="CONSONANT"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="romanji">
        <xs:restriction base="text">
            <xs:pattern value="[A-z]*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="kana">
        <xs:restriction base="text">
            <!-- ref: https://gist.github.com/terrancesnyder/1345094 -->
            <xs:pattern value="[ぁ-んァ-ン]*"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
